.content-navigation
  = link_to "< Get another domain(s) info", domains_path, :class => "button green tall"
  = link_to "Export to Excel", "#", :class => "button green tall"

#domains_info
  %h2
    Information about requested domains

  .clear
